<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars Data -->
    <div class="row">
      <div class="col-md-12">
        <h3><b>Latest Mars News</b></h3>
        <h4 class="heading">{{marsdata.news_title}}</h4>
        <p>{{marsdata.news_p}}</p>
       </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <h3><b>Featured Mars Image</b></h3>
        <figure>
        <img class="img-responsive" src= {{marsdata.featured_image_url}} alt="Featured Image" width="650" height="650">
      </figure>
       </div>
       <div class="col-md-4">
        <div class="panel panel-default">
        <div class="panel-body"><h4><b>Current Weather on Mars</b></h4>
        <p>{{marsdata.mars_weather}}</p>
      </div>
       </div>
        <h4><b>Mars facts</b></h4>
        <div>{{marsdata.mars_facts|safe}}</div>
    </div>
</div>

    <div class="row">
      <div class="col-md-12">
       <h3 align="center"><b>Mars Hemispheres</b></h3>
       </div>
    </div>

    <div class="row">
      <div class="col-md-6">
         <div class="thumbnail">
        <img class="img-responsive" src={{marsdata['hemisphere_image_urls'][0]['img_url']}} alt="Hemi1" width="400" height="400">
        <h4><b>{{marsdata.hemisphere_image_urls[0].title}}</b></h4>
        </div>
       </div>

      <div class="col-md-6">
         <div class="thumbnail">
        <img class="img-responsive" src={{marsdata['hemisphere_image_urls'][1]['img_url']}} alt="Hemi2" width="400" height="400">
        <h4><b>{{marsdata.hemisphere_image_urls[1].title}}</b></h4>
       </div>
      </div>

     <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
        <img class="img-responsive" src={{marsdata['hemisphere_image_urls'][2]['img_url']}} alt="Hemi3" width="400" height="400">
        <h4><b>{{marsdata.hemisphere_image_urls[2].title}}</b></h4>
       </div>
     </div>

      <div class="col-md-6">
         <div class="thumbnail">
        <img class="img-responsive" src={{marsdata['hemisphere_image_urls'][3]['img_url']}} alt="Hemi4" width="400" height="400">
        <h4><b>{{marsdata.hemisphere_image_urls[3].title}}</b></h4>
       </div>
      </div>

</div>
</body>

</html>

